
*{
  margin: 0;
  padding: none;
  list-style: none;
}


/* Colors::
#6D7B89 blue
#F5F5F5 white
#5D5C5D grey letter
*/

/*body*/
body{
font-family: 'Montserrat', sans-serif;

}
/*individual user and schedule*/
.individual{
text-align: center;
padding: 5%;
}


/* /header */
body{
font-family: 'Montserrat', sans-serif;
}
.header {
width: 100%;
background-color: #6D7B89;
display: flex;
justify-content: space-between;
}

.Header_logo{
height: 60px;
padding: 10px 20px
}
.navigation {
height: 100%;
color: #F5F5F5;
padding: 3%;
}

.navigation a {
text-decoration: none;
color: white;
padding: 30px;

}

.navigation a:hover {
color: rgb(81, 88, 90);
}



/* home*/
.part1 {
margin: 5%;
text-align: center;
}
.main_logo {
width: 20%;
align-items: center;

}
.main_logohome{
  width: 20%;
margin-left: 40%;
}

/*USERS*/
.userstable{
border: 1px solid;
width: 60%;
text-align: center;
margin-left: auto;
margin-right: auto;
}

#tablefirstpart{
  border: 1px solid;
  background-color: #6D7B89;
  font-size: large;
  color:#F5F5F5 ;
  }
 
  .userslogo{
    width: 10%;
    margin-left: 30%;
  }



  /* /*table */

  #contact-form{
margin-left: 20%;
margin-right: 20%;
margin-top: 5%;
margin-bottom: 5%;
align-items: left;
justify-content: left;
text-align: left;

}
.form{
display: flex;
padding: 10%;
margin: 10%;
}


.input{
width: 100%;
padding: 2%;
background-color: #C6CBD0; 
border: none;
color: #F5F5F5;


}

.submit{
background-color: #6D7B8A; 
color: white;
padding: 15px 32px;
font-size: 16px;
border-radius: 12px;
margin: 5%;
text-align: center;
}

.submit-container{
text-align: center;
}
  /*schedules*/
.scheduletable{
  border: 1px solid;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
  .part2{
    margin: 5%;
  }
  .schedulelogo{
    width: 10%;
    margin-left: 45%;
  }


/* footer*/

.footer{
margin: 5%;
margin-left: auto;
margin-right: auto;
background-color: #a9adb1;
display: flex;
justify-content: space-between;
padding: 20px;

}