<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type= "text/css" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <title><%= title %></title>
  </head>


  <%- include('../partials/header.ejs') %>

  <body>
    <main>
      <div class="part1"><h1>New Schedule </h1>

      
     <img class="main_logo" src='../Assets/logo_mrcoffee.png' > 

    </main>
  

 <!--contact form -->
 <form id="contact-form" action="/schedules" method="POST">

    <!-- User id -->
    <div>
        <label for="userid">User ID: *</label><br>
        <input
          type="text"
          name="userid"
          id="userid"
          class="input"
          required
        /><br><br>
      </div>
      <!-- day -->
      <div>
        <label for="day">Day: *</label><br>
        <select name="day" id="day" class="day" required>
          <option value = "" >Select a day </option>
          <option value = "1" >Monday </option>
          <option value = "2" >Tuesdat </option>
          <option value = "3" >Wednesday</option>
          <option value = "4" >Thursday</option>
          <option value = "5" >Friday</option>
          <option value = "6" >Saturday </option>
          <option value = "7" >Sunday</option>
          

        </select>
      </div>
      <!-- start_at -->
      <div>
        <label for="start at">Start time: *</label><br>
        <select name="start_at" id="start_at" class="start_at" required>
          <option value = "" >Select a Start time </option>
          <option value = "6:00 AM" >6:00 AM </option>
          <option value = "7:00 AM" >7:00 AM </option>
          <option value = "8:00 AM" >8:00 AM</option>
          <option value = "9:00 AM" >9:00 AM</option>
          <option value = "10:00 AM" >10:00 AM</option>
          <option value = "11:00 AM" >11:00 AM </option>
          <option value = "12:00 PM" >12:00 PM </option>
          <option value = "1:00 PM" >1:00 PM </option>
          <option value = "2:00 PM" >2:00 PM </option>
          <option value = "3:00 PM" >3:00 PM</option>
          <option value = "4:00 PM" >4:00 PM</option>
          <option value = "5:00 PM" >5:00 PM</option>
          <option value = "6:00 PM" >6:00 PM </option>
          <option value = "7:00 PM" >7:00 PM </option>   

        </select>
        </div>
        <!-- end at -->
        <div>
          <label for="end_at">End time: *</label><br>
          <select name="end_at" id="end_at" class="end_at" required>
            <option value = "" >Select a End time </option>
            <option value = "6:00 AM" >6:00 AM </option>
            <option value = "7:00 AM" >7:00 AM </option>
            <option value = "8:00 AM" >8:00 AM</option>
            <option value = "9:00 AM" >9:00 AM</option>
            <option value = "10:00 AM" >10:00 AM</option>
            <option value = "11:00 AM" >11:00 AM </option>
            <option value = "12:00 PM" >12:00 PM </option>
            <option value = "1:00 PM" >1:00 PM </option>
            <option value = "2:00 PM" >2:00 PM </option>
            <option value = "3:00 PM" >3:00 PM</option>
            <option value = "4:00 PM" >4:00 PM</option>
            <option value = "5:00 PM" >5:00 PM</option>
            <option value = "6:00 PM" >6:00 PM </option>
            <option value = "7:00 PM" >7:00 PM </option>   
  
          </select>
          </div>


      
    
      <!--  Submit -->
           <div class="hidden submit-container">
            <input
              type="submit"
              name="submit"
              id="submit"
              class="submit"
              value="Send message"
            />
          </div>
    
           
          
        </form>
  
  

    <%- include('../partials/footer') %>

  </body>
</html>